<!DOCTYPE html>
<html lang="en">
<head>
    <title>Job Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/users.css')}} ">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light float-right">
      <div class="collapse navbar-collapse">
          <form class="form-inline my-2 my-lg-0" id="search_form">
                <input class="form-control mr-sm-2" type="search" placeholder="Skills"  value='' aria-label="Search" name="skills">
                <input class="form-control mr-sm-2" type="search" placeholder="Number of years" value='' aria-label="Search" name="years">
                <input class="form-control mr-sm-2" type="search" placeholder="lastname" value="" aria-label="Search" name="lastname">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchbar_button">Search</button>
            </form>
      </div>
</nav>
    <br>
    <br>

    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Employees <b>Portal</b></h2>
                </div>
                <div class="col-sm-6">
                              <a href="#addUserModal" class="btn btn-success" data-toggle="modal"><i class="fas fa-plus"></i> <span>Register Employee</span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover" id="user_dataTable">
        </table>
    </div>
</div>

<!-- Create Blog Modal HTML -->
<div id="addUserModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="register_employee" action="" method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<h4 class="modal-title">Register yourself</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Firstname</label>
						<input type="text" class="form-control" name="firstname" required>
					</div>
					<div class="form-group">
						<label>Lastname</label>
						<input type="text" class="form-control" name="lastname" required>
					</div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" required>
                    </div>
                    <div class="form-group">
                        <label>Mobile Phone</label>
                        <input type="text" class="form-control" name="phone_number" required>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label class="font-weight-bold">Skill Name</label>
                            </div>
                            <div class="col">
                                <label class="font-weight-bold">Years of Experience</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="skill 1..." name="skill1">
                            </div>
                            <div class="col">
                                <input type="number" min="0" value="0" class="form-control" placeholder="skill1_years" name="nskill1">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="skill 2..." name="skill2">
                            </div>
                            <div class="col">
                                <input type="number" min="0" value="0" class="form-control" placeholder="skill2_years" name="nskill2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="skill 3..." name="skill3">
                            </div>
                            <div class="col">
                                <input type="number" min="0" value="0" class="form-control" placeholder="skill3_years" name="nskill3">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" aria-label="Default select example" name="status">
                            <option value="None" selected>None</option>
                            <option value="International Student">International Student</option>
                            <option value="Graduate">Graduate</option>
                            <option value="Student">Student</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Availability</label>
                        <select class="form-control" name="availability">
                            <option value="None" selected>None</option>
                            <option value="Full Time">Full Time</option>
                            <option value="Part Time">Part Time</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Upload Resume</label>
                        <input type="file" class="form-control" name="resume" id="resume" required>
                    </div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" id="addRegister_button" class="btn btn-success" value="Register">
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Js Plugins -->
<script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function(){
        let data = '{{ context['data'] }}';
        let json_data = data.replaceAll("&#34;", '"');
        let real_data = $.parseJSON(json_data);

        $('#user_dataTable').DataTable( {
            data: real_data,
           "columnDefs": [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            },
        ],
            columns: [
                { title: "id" },
                { title: "First Name" },
                { title: "Last Name" },
                { title: "Email" },
                { title: "Phone number" },
                { title: "Status" },
                { title: "Availability" },
                { title: "Skill" },
                { title: "Years" },
                { title: "Resume" }
                ]
            } );
        $('#addUserModal').on('show.bs.modal', function (event) {
            $('#cancel_button').on('click', function (e) {
                $('#addUserModal').modal('toggle');
                return false;
            });
            $('#addRegister_button').on('click', function (e){
                // Create Applicant
                let params = {};
                $.each($('#register_employee').serializeArray(), function (index, value) {
                    params[value.name] = params[value.name] ? params[value.name] || value.value : value.value;
                });
                let form_data = new FormData();
                for(let key in params){
                    form_data.append(key, params[key]);
                }
                form_data.append('resume', $("#resume")[0].files[0]);
                console.log(form_data)
                $.ajax({
                    type: 'post',
                    url: "create",
                    data: form_data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {
                        console.log(response);
                        if(response.status_code){
                            window.location.href = response.url;
                        }
                    }
                });
                e.preventDefault();
            });

        });


        $('#searchbar_button').on('click', function (e){
            let params = {};
            $.each($('#search_form').serializeArray(), function (index, value) {
                params[value.name] = params[value.name] ? params[value.name] || value.value : value.value;
            });
            let url = "/filter?"
            for(let key in params){
                url+=key+ "=" + params[key] +"&";
            }
            $.ajax({
                type: 'get',
                url: url,
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    let datatable = $("#user_dataTable").DataTable();
                    let json_data = response["data"].replaceAll("&#34;", '"');
                    let real_data = $.parseJSON(json_data);
                    datatable.clear().rows.add(real_data).draw();
                }
            });
            e.preventDefault();
        });
    });
</script>
</body>
</html>
